[Unit]
Description=Dog tag tracking
After=network.target

[Service]
ExecStart=/root/gps-tags
Restart=always
User=root
Group=root
Environment=MONGO_URL="mongodb://127.0.0.1:27017"
Environment=NTFY_SUBSCRIPTION_ID="ahShaikee"
Environment=TAG_AUTH_KEY="6ebaa65ed27455fd6d32bfd4c01303cd"
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target
